<p>reactive-forms works!</p>
<form [formGroup]="regForm"> <!---we can do it via (ngSubmit)="onSubmitForm(regForm.value)"-->
    <div>
        <label for="">First Name</label>
        <input type="text" formControlName="firstName">
    </div>
    <div>
        <label for="">Last Name</label>
        <input type="text" formControlName="lastName">
    </div>
    <div>
        <label for="">Email Id</label>
        <input type="email" formControlName="email">
    </div>
    <div>
        <label for="">Password</label>
        <input type="password" formControlName="password">
    </div>
    <div>
        <label for="">Date of Birth</label>
        <input type="date" formControlName="dob">
    </div>
    <div>
        <label for="">Profile Pic</label>
        <input type="file" formControlName="profilePic">
    </div>
    <div>
        <label for="">Choose your Area</label>
        <select formControlName="studyArea" (change)="onStudyAreaChange($event)">
            <option *ngFor="let item of studyAreaDropdown" [value]="item.value">{{item.label}}</option>
        </select>
    </div>
    <button (click)="onSubmitForm()" class="btn" type="submit">Submit</button>
</form>

{{formDataValue | json}}